
.tableform {
	padding: 50px 0;
	background-color: #aab8a6;
}

detail{
	font-weight: normal;
}

.bottom form{ 
	padding-top: 130px;
}

table{
	width: 40%;
	line-height: 20px;
	font-size: 18px;
}

h1{
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 40px;
}

.text-line{
	background-color: transparent;
	color: #000000;
	outline: none;
	outline-style: none;
	border: none;
	border-bottom: solid #615d5d 1px;
	padding: 10px ;
	font-size: 14px;
	font-weight: normal;
}

.subButton{
	font-size: 12px;
	padding: 2px;
	margin-top: 3px;
}

th{
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	padding: 10px;
	padding-top: 4px;
	padding-bottom: 4px;	
}

b{
	font-size: 14px;
	font-weight: normal;
}

tr{
	border: 1px solid #808080;
}