.text-line{
	background-color: transparent;
	color: #000000;
	outline: none;
	outline-style: none;
	border: none;
	border-bottom: solid #eeeeee 1px;
	padding: 10px ;
	font-size: 14px;
	font-weight: normal;
}

.formst input[type=text]{
	width: 88.5%;
}

.formst input[type=text].text-line.regno{
	width: 50%;
}

fieldset{
	padding-left: 4.5%;
	display: block;
	border: 2px groove (internal value);
	border-radius: 20px;
	line-height: 7px;
	font-size: 18px; 	
	border-color: #eeeeee;
	margin-left: 27%;
	width: 46%;
	background-color: #aab8a6;
}

.formst .site-btn.sb-c2{
	margin-top: 20px;
}

form {
	
	margin-top: black 10%;
}

.formst{
	padding-top: 180px;
	background: rgb(119, 133, 116);
}